<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vkdevlops.cprogramfree">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SyntaxImplementation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ImplementOtherPrograms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BookmarkActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScoreActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuestionsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SetsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Quizzes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudyStuffPdf"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About_C"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Implement_Pattern_Programs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Introduction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Intro"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5038792352708017~1671951387"/>
    </application>

</manifest>